img
{
    padding-right: 30px;
}


.btn
{
    color: white ;
    font-size: 16pt ;
    
}

.btn:hover
{background-color: red ;}

.nav-item
{
   
    text-align: center;
}

#navbarNav
{
    text-align: center;
}
#brand
{
    background-color: black;
    }

    #lm
    {
       
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
        font-size: 36pt !important;
    }
    #foot {
        background-color: black !important;
        height: 50px !important;
        color: white !important;
        font-size: 10pt !important;
    }

    /* #bg
    {
        width: 100%;
        height: 800px;
        background-image: url('au.jpg');
        background-size: 100% 100%;
        opacity: 25%; 
    } */

    html{
        -ms-text-size-adjust:100%;
        -webkit-text-size-adjust:100%;
        -ms-touch-action:manipulation;
        touch-action:manipulation;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
        width:100%;
    }
    body,html{
        color:rgba(0,0,0,.75);
        font-weight:400;
        margin:0;
        padding:0;
        overflow-x:visible!important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    }
    body{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        font-size:18px;
        height:100%;
        line-height:1.6;
        min-height:100vh;
        width:100%;
    }
    .shado-banner{
        -webkit-box-shadow:0 2px 2px -1px rgba(0,0,0,.35),0 1px 5px -2px rgba(0,0,0,.35),0 1px 8px -1px rgba(0,0,0,.25);
        box-shadow:0 2px 2px -1px rgba(0,0,0,.35),0 1px 5px -2px rgba(0,0,0,.35),0 1px 8px -1px rgba(0,0,0,.25);
    }
    *{
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }
    
    /****
        *	FIRST BOX
        **/
    #left-flex .ribbon *{
        position:relative;
    }
    #left-flex .ribbon:before{
        background-color:rgba(167, 51, 89, 0.938);
        content:'';
        display:block;
        height:525px;
        left:0;
        position:absolute;
        width:100%;
        z-index:0;
    }
    #left-flex .ribbon{
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        background-size:cover;
        background:url('au.jpg') center center / cover no-repeat fixed;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        height:525px;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        margin:0;
        width:100%;
        z-index:-1;
    }
    #left-flex .title-wrapper{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-flow:column wrap;
        flex-flow:column wrap;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        margin:0;
        max-width:1040px;
        min-width:200px;
        padding:0;
        text-align:left;
        width:88%;
    }
    #left-flex .title-wrapper > *{
        color:black;
        font-weight:400;
        margin:0;
        padding:0;
        text-align:left;
    }
    #left-flex h1{
        font-size:3.5rem;
        line-height:1.1;
    }
    #left-flex p{
        font-size:1.75rem;
    }
    @media only screen and (max-width:629px){
        #left-flex .title-wrapper{
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
        }
        #left-flex #title-wrapper h1{
            font-size:2.75rem;
        }
        #left-flex p{
            font-size:1.4rem;
        }
    }
    
    /****
        *	THIRD BOX
        **/

        #left-flex1 .ribbon *{
            position:relative;
        }
        #left-flex1 .ribbon:before{
            background-color:rgba(72, 151, 144, 0.9);
            content:'';
            display:block;
            height:525px;
            left:0;
            position:absolute;
            width:100%;
            z-index:0;
        }
        #left-flex1 .ribbon{
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            background-size:cover;
            background:url('au.jpg') center center / cover no-repeat fixed;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            height:525px;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            margin:0;
            width:100%;
            z-index:-1;
        }
        #left-flex1 .title-wrapper{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
            -ms-flex-flow:column wrap;
            flex-flow:column wrap;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            margin:0;
            max-width:1040px;
            min-width:200px;
            padding:0;
            text-align:left;
            width:88%;
        }
        #left-flex1 .title-wrapper > *{
            color:black;
            font-weight:400;
            margin:0;
            padding:0;
            text-align:left;
        }
        #left-flex1 h1{
            font-size:3.5rem;
            line-height:1.1;
        }
        #left-flex1 p{
            font-size:1.75rem;
        }
        @media only screen and (max-width:629px){
            #left-flex1 .title-wrapper{
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
            }
            #left-flex1 #title-wrapper h1{
                font-size:2.75rem;
            }
            #left-flex1 p{
                font-size:1.4rem;
            }
        }

        /* fourth box */

        #left-flex2 .ribbon *{
            position:relative;
        }
        #left-flex2 .ribbon:before{
            background-color:rgba(129,150,174,.9);
            content:'';
            display:block;
            height:525px;
            left:0;
            position:absolute;
            width:100%;
            z-index:0;
        }
        #left-flex2 .ribbon{
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            background-size:cover;
            background:url('au.jpg') center center / cover no-repeat fixed;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            height:525px;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            margin:0;
            width:100%;
            z-index:-1;
        }
        #left-flex2 .title-wrapper{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-orient:vertical;
            -webkit-box-direction:normal;
            -ms-flex-flow:column wrap;
            flex-flow:column wrap;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            margin:0;
            max-width:1040px;
            min-width:200px;
            padding:0;
            text-align:left;
            width:88%;
        }
        #left-flex2 .title-wrapper > *{
            color:;
            font-weight:400;
            margin:0;
            padding:0;
            text-align:left;
        }
        #left-flex2 h1{
            font-size:3.5rem;
            line-height:1.1;
        }
        #left-flex2 p{
            font-size:1.75rem;
        }
        @media only screen and (max-width:629px){
            #left-flex2 .title-wrapper{
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
            }
            #left-flex2 #title-wrapper h1{
                font-size:2.75rem;
            }
            #left-flex2 p{
                font-size:1.4rem;
            }
        }

    /* #title-outlined .ribbon *{
        position:relative;
    }
    #title-outlined .ribbon:before{
        background:linear-gradient(110deg,rgba(225,151,19,.5) -30%,rgba(159,91,118,.9) 44%,rgba(130,111,203,.9) 105%);
        content:" ";
        display:block;
        height:400px;
        left:0;
        position:absolute;
        width:100%;
        z-index:0;
    }
    #title-outlined .ribbon{
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        background:url('au.jpg') left center / cover no-repeat scroll;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        float:none;
        height:400px;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        left:0;
        margin:0;
        vertical-align:middle;
        width:100%;
        z-index:-1;
    }
    #title-outlined h1{
        border-top:3px solid #f5f5f5;
        border-bottom:3px solid #f5f5f5;
        color:black;
        display:inline-block;
        float:none;
        font-size:3.5rem;
        font-weight:400;
        height:auto;
        letter-spacing:-.02em;
        line-height:1.2;
        padding:15px;
        text-align:center;
        text-shadow:1px 0px 1px rgba(0,0,0,.45);
        width:80%;
    }
    @media only screen and (max-width:649px){
        #title-outlined h1{
            appearance:none;
            -webkit-appearance:none;
            -moz-appearance:none;
            font-size:3rem;
            width:88%;
        }
    }
    @media only screen and (max-width:529px){
        #title-outlined h1{
            font-size:2.5rem;
            width:100%;
            padding:10px 0;
        }
    } */
    /****
        *	FOURTH BOX
        **/
    #transparent-overlay .overlay *{
        position:relative;
    }
    
    #transparent-overlay .title-wrapper{
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        background-color:rgba(250,251,252,.77);
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        margin:0;
        max-width:880px;
        width:73%;
    }
    #transparent-overlay .title-wrapper h2{
        color:#4e70c1;
        font-size:42px;
        font-weight:300;
        line-height:1.3;
        max-width:780px;
        padding:25px 15px;
        text-align:center;
        width:80%;
    }
    @media only screen and (max-width:519px){
        #transparent-overlay .title-wrapper{
            width:97%;
        }
        #transparent-overlay .title-wrapper h2{
            font-size:32px;
        }
    }
    
    /****
        *	SIXTH BOX
        **/
    #simple-gradient .blue-overlay *{
        position:relative;
    }
    #simple-gradient .blue-overlay:before{
        background:linear-gradient(125deg,rgba(129,150,174,.9) -30%,rgba(29,50,74,.8) 40%,rgba(4,9,14,.6) 100%);
        content:"";
        display:block;
        height:400px;
        left:0;
        position:absolute;
        width:100%;
        z-index:0;
    }
    #simple-gradient .blue-overlay{
        background:url('au.jpg') center center / cover no-repeat scroll;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        height:400px;
        left:0;
        position:relative;
        z-index:-1;
    }
    #simple-gradient h2{
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items: center;
        color:#fff;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        float:none;
        font-size:2rem;
        font-weight:300;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        line-height:1.2;
        margin:0 auto;
        max-width:800px;
        text-align:center;
        width:90%;
    }
    @media only screen and (max-width:849px){
        #simple-gradient h1{
            font-size:3rem;
            width:77%;
        }
    }