
body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

img
{
    padding-right: 30px;
}


.btn
{
    color: white ;
    font-size: 16pt ;
    
}

.btn:hover
{background-color: red ;}

.nav-item
{
   
    text-align: center;
}

#navbarNav
{
    text-align: center;
}
#brand
{
    background-color: black;
    }

    #lm
    {
       
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
        font-size: 36pt !important;
    }

    h1
    {
        font-weight: lighther;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
        font-size: 50px;
        color: black;
    }

   

      #foot {
        background-color: black;
        height: 50px;
        color: white;
        font-size: 10pt;
    }
    #intro6
  {
      height: 600px !important;
    background-color: black;
    color: black;
    height: 300px;
    font-size: 16pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-weight: lighter;
    background-image: url(bg2.jpg);
  }
    #use
    {
        font-size: 16pt;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
        font-weight: bold;
    }
  
  #twitterb{
    margin-top: 20x;
    margin-right: 22px; 
    font-size:30px;
    color:mediumslateblue;
        
}
#facebookb{
    margin-top: 20px;
    font-size:30px;
    margin-right: 22px;
    color:mediumslateblue;
   
    
}
 #youtubeb{
    margin-top: 20px;
    font-size:30px;
    margin-right: 22px;
    color:mediumslateblue;
    
 }

#instab{
    margin-top: 20px;
    font-size:30px;
    margin-right: 22px;
    color:mediumslateblue;
}

#phone
    {
        color: mediumslateblue;
        padding-right: 10px;
    }

    #email
    {
        color: mediumslateblue;
        padding-right: 10px;
    }

    #Fax
        {
            color: mediumslateblue;
            padding-right: 10px;
        }

        #globe
        {
            color: mediumslateblue;
            padding-right: 10px;
        }
        
          #main
          {
              background-image: url(bg.jpg);
          }
          
          
          